* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ff6b6b, #cc2faa, #7873f5);
    background-size: 200% 200%;

}

.container {

    width: 100%;
    max-width: 460px;

}

.card {

    background: white;
    /*border-radius: 20px;*/
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    height: 840px;
    max-height: 840px;

    position: relative;
}

header {

    height: 84px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
}

header p {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.logo {
    padding: 24px;
    color: #FF6B6B;
    font-size: 1.5rem;
    font-weight: bold;
    animation: pulse 2s infinite;
    font-family: 'Poppins', sans-serif;

}

/* MARK: MAIN */
main {

    height: 688px;
    position: relative;
    padding: 0px 24px;
    
}

main div div#photos-container {
    display: flex;
    flex-wrap: wrap;
    /*
    justify-content: space-evenly;
    align-content: space-between;
    */
    padding: 0px 32px;
    gap: 34px;
}

main div > h2 {
    margin-bottom: 20px;
}

main div#photos-container div {
    width: 156px;
    height: 156px;
    background-color: grey;
    /*margin-bottom: 32px;*/
    position: relative;
}

main div#photos-container div.available {
    --b: 10px; /* the thickness */
    border: 48px solid grey; 
    background:
      conic-gradient(from 90deg at var(--b) var(--b),grey 90deg,#fff 0) 
      calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
      calc(50%  + var(--b))   calc(50%  + var(--b));
    display: inline-block;
}

main div#photos-container div.available input {
    opacity: 0.0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    height:100%; 
    display:none
}

/*
main div#photos-container div.disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
    pointer-events: none;
    cursor: default;
}
 */
main div#photos-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main div#photos-container div button {
    position: absolute;
    padding: 10px 15px;
    font-size: 1.10rem;
    border: none;
    border-radius: 25px;
    background-color: red;
    top: -15px;
    right: -15px;
}

main div#photos-content div#error-div {
    text-align: center;
    margin-top: 30px;
}

main div#photos-content div#error-div h3 {
    padding:0;
    padding-top: 8px;
    color: #e53e3e;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
}



nav {

    padding: 1.1rem;
    height: 68px;
}

nav ul {

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;

}

nav ul li a {

    color: black;
    text-decoration: none;
} 